@import "font"  	// fonts
@import "var"		// variables

html
  min-width: $min-width
  font-size: 20px

body
  background: $color-white !important
  font-family: "CeraRoundPro"
  font-weight: normal
  color: $color-zero
  font-size: 20px
  margin: 0

a
  outline: none

h1
  font-size: 3.0em

h2
  font-size: 1.8em

h3
  font-size: 1.2em

h4
  font-size: 16px

h1, h2, h3, h4
  margin: 0

$height: 0.25
@for $num from 1 through 28
  $cur: $height * $num

  .clear_#{$cur * 20}
    height: calc(#{$cur} * 1em)

[data-anime]
  opacity: 0

[data-anime='fadeInScale']
  transform: scale(0.5)

[data-anime='fadeInLeft']
  transform: matrix(1, 0, 0, 1, -100, 0)

[data-anime='fadeInRight']
  transform: matrix(1, 0, 0, 1, +100, 0)

[data-anime='fadeInUp']
  transform: matrix(1, 0, 0, 1, 0, +30)

[data-anime='fadeInDown']
  transform: matrix(1, 0, 0, 1, 0, -30)

[data-anime='fadeInUpScale']
  transform: matrix(0, 0, 0, 0, 0, +30)

.section
  justify-content: center
  display: flex
  width: 100%

.container
  max-width: 58em
  padding: 0 1em
  z-index: 100
  width: 100%

header
  transition: $transition
  min-width: $min-width
  position: fixed
  z-index: 1000
  top: 0

  #{$menu}
    justify-content: space-between
    align-items: center
    color: $color-white
    padding: .65em 0
    display: flex

    div
      align-items: center
      font-weight: bold
      display: flex

      ul
        list-style: none
        display: flex

        li
          margin-left: 2.6vw

          &:first-child
            margin-left: 0

          a
            text-decoration: none
            color: $color-white
            font-size: .8em

      #{$menu}__button
        border: 2px solid $color-HavelockBlue
        margin-left: 3.6vw
        
        &:hover
          background: $color-HavelockBlue + 20%

        &:active
          background: $color-HavelockBlue - 20%

  &.scroll
    background-color: rgba($color-Denim, .95)

.button
  transition: $transition
  padding: 1.25em 2.2em
  text-decoration: none
  color: $color-white
  border-radius: 3em
  text-align: center
  font-size: .8em
  line-height: 1

  &_purple
    background: $color-Razzmatazz

    &:hover
      background: $color-Razzmatazz + 20%

    &:active
      background: $color-Razzmatazz - 20%

.w-100
  width: 100%

main
  background-size: 100% auto
  min-height: 100vh

  .main
    &_one
      background: url('../img/screens/screen_1.jpg') center bottom no-repeat
      background-size: 1920px auto
      color: $color-white
      text-align: center
      position: relative
      height: 37.55em
      z-index: 20

      .container
        justify-content: space-between
        flex-direction: column
        display: flex
        height: 100%

      &__text
        h2
          line-height: 1.6

        h3
          line-height: 1.4

      &__trigger
        border: 2px solid $color-HavelockBlue
        transform: translateX(-50%)
        border-radius: .8em
        padding: .3em .55em
        position: absolute
        display: flex
        bottom: 2.5em
        left: 50%

        > div
          border-bottom: 2px solid $color-HavelockBlue
          margin: 0 .2em
          width: .8em

          &.active
            border-color: $color-white

    &_two
      align-items: center
      height: 50.8em
      display: flex

      .bg_block
        justify-content: center
        align-items: center
        position: relative
        overflow: hidden
        display: flex
        height: 100%
        z-index: 20
        width: 100%

        &__lines
          justify-content: center
          position: absolute
          overflow: hidden
          display: flex
          height: 100%
          z-index: 20
          width: 100%
          left: 0
          top: 0

        &__phone
          margin-right: 30em
          position: relative
          width: 16.75em
          z-index: 10

      .container
        justify-content: center
        position: absolute
        display: flex
        z-index: 20

      &__inner
        color: $color-WaikawaGrey
        align-items: center
        padding-left: 20vw
        max-width: 30em

        ul
          padding-right: 5em
          padding-left: .9em
          list-style: none

          li
            margin-bottom: .8em
            position: relative
            line-height: 1.4

            &:before
              position: absolute
              font-size: 1em
              content: '\2022'
              display: inline-block
              color: $color-IrisBlue
              transform: translateY(-15%)
              left: -.9em

    &_three
      overflow-y: hidden
      position: relative
      margin-top: -4em
      height: 4em
      z-index: 40

      &__bg
        background-color: $color-Solitude
        background-size: 100% 200%
        border-radius: 100%
        position: absolute
        height: 200%
        width: 100%

footer