@font-face
 font-family: 'CeraRoundPro'
 src: url("../fonts/CeraRoundPro-Regular.otf")
 font-weight: normal
 font-style: normal

@font-face
 font-family: 'CeraRoundPro'
 src: url("../fonts/CeraRoundPro-Bold.otf")
 font-weight: bold
 font-style: normal