@font-face {
  font-family: 'CeraRoundPro';
  src: url(components/fonts/CeraRoundPro-Regular.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CeraRoundPro';
  src: url(components/fonts/CeraRoundPro-Bold.otf);
  font-weight: bold;
  font-style: normal; }

html {
  min-width: 960px;
  font-size: 20px; }

body {
  background: #FFFFFF !important;
  font-family: "CeraRoundPro";
  font-weight: normal;
  color: #000000;
  font-size: 20px;
  margin: 0; }

a {
  outline: none; }

h1 {
  font-size: 3.0em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 16px; }

h1, h2, h3, h4 {
  margin: 0; }

.clear_5 {
  height: calc(0.25 * 1em); }

.clear_10 {
  height: calc(0.5 * 1em); }

.clear_15 {
  height: calc(0.75 * 1em); }

.clear_20 {
  height: calc(1 * 1em); }

.clear_25 {
  height: calc(1.25 * 1em); }

.clear_30 {
  height: calc(1.5 * 1em); }

.clear_35 {
  height: calc(1.75 * 1em); }

.clear_40 {
  height: calc(2 * 1em); }

.clear_45 {
  height: calc(2.25 * 1em); }

.clear_50 {
  height: calc(2.5 * 1em); }

.clear_55 {
  height: calc(2.75 * 1em); }

.clear_60 {
  height: calc(3 * 1em); }

.clear_65 {
  height: calc(3.25 * 1em); }

.clear_70 {
  height: calc(3.5 * 1em); }

.clear_75 {
  height: calc(3.75 * 1em); }

.clear_80 {
  height: calc(4 * 1em); }

.clear_85 {
  height: calc(4.25 * 1em); }

.clear_90 {
  height: calc(4.5 * 1em); }

.clear_95 {
  height: calc(4.75 * 1em); }

.clear_100 {
  height: calc(5 * 1em); }

.clear_105 {
  height: calc(5.25 * 1em); }

.clear_110 {
  height: calc(5.5 * 1em); }

.clear_115 {
  height: calc(5.75 * 1em); }

.clear_120 {
  height: calc(6 * 1em); }

.clear_125 {
  height: calc(6.25 * 1em); }

.clear_130 {
  height: calc(6.5 * 1em); }

.clear_135 {
  height: calc(6.75 * 1em); }

.clear_140 {
  height: calc(7 * 1em); }

[data-anime] {
  opacity: 0; }

[data-anime='fadeInScale'] {
  transform: scale(0.5); }

[data-anime='fadeInLeft'] {
  transform: matrix(1, 0, 0, 1, -100, 0); }

[data-anime='fadeInRight'] {
  transform: matrix(1, 0, 0, 1, 100, 0); }

[data-anime='fadeInUp'] {
  transform: matrix(1, 0, 0, 1, 0, 30); }

[data-anime='fadeInDown'] {
  transform: matrix(1, 0, 0, 1, 0, -30); }

[data-anime='fadeInUpScale'] {
  transform: matrix(0, 0, 0, 0, 0, 30); }

.section {
  justify-content: center;
  display: flex;
  width: 100%; }

.container {
  max-width: 58em;
  padding: 0 1em;
  z-index: 100;
  width: 100%; }

header {
  transition: all 0.25s ease;
  min-width: 960px;
  position: fixed;
  z-index: 1000;
  top: 0; }
  header .menu {
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding: .65em 0;
    display: flex; }
    header .menu div {
      align-items: center;
      font-weight: bold;
      display: flex; }
      header .menu div ul {
        list-style: none;
        display: flex; }
        header .menu div ul li {
          margin-left: 2.6vw; }
          header .menu div ul li:first-child {
            margin-left: 0; }
          header .menu div ul li a {
            text-decoration: none;
            color: #FFFFFF;
            font-size: .8em; }
      header .menu div .menu__button {
        border: 2px solid #5489C3;
        margin-left: 3.6vw; }
        header .menu div .menu__button:hover {
          background: #689dd7; }
        header .menu div .menu__button:active {
          background: #4075af; }
  header.scroll {
    background-color: rgba(42, 112, 186, 0.95); }

.button {
  transition: all 0.25s ease;
  padding: 1.25em 2.2em;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 3em;
  text-align: center;
  font-size: .8em;
  line-height: 1; }
  .button_purple {
    background: #E70067; }
    .button_purple:hover {
      background: #fb147b; }
    .button_purple:active {
      background: #d30053; }

.w-100 {
  width: 100%; }

main {
  background-size: 100% auto;
  min-height: 100vh; }
  main .main_one {
    background: url(components/img/screens/screen_1.jpg) center bottom no-repeat;
    background-size: 1920px auto;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    height: 37.55em;
    z-index: 20; }
    main .main_one .container {
      justify-content: space-between;
      flex-direction: column;
      display: flex;
      height: 100%; }
    main .main_one__text h2 {
      line-height: 1.6; }
    main .main_one__text h3 {
      line-height: 1.4; }
    main .main_one__trigger {
      border: 2px solid #5489C3;
      transform: translateX(-50%);
      border-radius: .8em;
      padding: .3em .55em;
      position: absolute;
      display: flex;
      bottom: 2.5em;
      left: 50%; }
      main .main_one__trigger > div {
        border-bottom: 2px solid #5489C3;
        margin: 0 .2em;
        width: .8em; }
        main .main_one__trigger > div.active {
          border-color: #FFFFFF; }
  main .main_two {
    align-items: center;
    height: 50.8em;
    display: flex; }
    main .main_two .bg_block {
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      display: flex;
      height: 100%;
      z-index: 20;
      width: 100%; }
      main .main_two .bg_block__lines {
        justify-content: center;
        position: absolute;
        overflow: hidden;
        display: flex;
        height: 100%;
        z-index: 20;
        width: 100%;
        left: 0;
        top: 0; }
      main .main_two .bg_block__phone {
        margin-right: 30em;
        position: relative;
        width: 16.75em;
        z-index: 10; }
    main .main_two .container {
      justify-content: center;
      position: absolute;
      display: flex;
      z-index: 20; }
    main .main_two__inner {
      color: #60759D;
      align-items: center;
      padding-left: 20vw;
      max-width: 30em; }
      main .main_two__inner ul {
        padding-right: 5em;
        padding-left: .9em;
        list-style: none; }
        main .main_two__inner ul li {
          margin-bottom: .8em;
          position: relative;
          line-height: 1.4; }
          main .main_two__inner ul li:before {
            position: absolute;
            font-size: 1em;
            content: '\2022';
            display: inline-block;
            color: #16AFE0;
            transform: translateY(-15%);
            left: -.9em; }
  main .main_three {
    overflow-y: hidden;
    position: relative;
    margin-top: -4em;
    height: 4em;
    z-index: 40; }
    main .main_three__bg {
      background-color: #F1F4FC;
      background-size: 100% 200%;
      border-radius: 100%;
      position: absolute;
      height: 200%;
      width: 100%; }
